<header>
    <mat-toolbar>
      <h1><a routerLink="" mat-button routerLinkActive="" [routerLinkActiveOptions]="{exact: true}">YU-GI-OH FMR</a></h1>
      <span class="example-spacer"></span>
      <nav>
        <ul>
          <li><a routerLink="decks" mat-button routerLinkActive="active" >Decks</a></li>
          <li><a routerLink="my-cards" mat-button routerLinkActive="active" >My cards</a></li>
          <li><a routerLink="characters" mat-button routerLinkActive="active" >Characters</a></li>
        </ul>
      </nav>
    </mat-toolbar>
</header>