<!-- <p *ngFor="let deck of cardCharacter$ | async ; let i = index">
    {{ deck.name }}
</p> -->

<div class="section-tab">
    <div class="limit-h scrollCards"><!--   [listData]="listMyCards[i]" (click)="cardClickMyCards(i)" [style.order]="listMyCards[i].position"  -->
        <app-card-show *ngFor="let card of cardCharacter$ | async; index as i" [card]="card.card" [chanceShow]="true" [chance100]="card.chance100" [ngClass]="{
          'card-deck-size': true,
          'hide': false
        }"></app-card-show>
    </div>
    <div class="options-card">
      <section class="filter-card">
        <h4>Filter:</h4>
        <mat-form-field>
          <mat-label>Search name</mat-label>
          <input type="text" matInput name="search" [(ngModel)]="search" (ngModelChange)="updateFilter()" holder="The name of your deck">
        </mat-form-field>
        <div [formGroup]="filterInput">
          <mat-checkbox class="example-margin" color="primary" formControlName="monsters" (change)="updateFilter()" >Monsters</mat-checkbox>
          <mat-checkbox class="example-margin" color="primary" formControlName="magics" (change)="updateFilter()">Magics</mat-checkbox>
          <mat-checkbox class="example-margin" color="primary" formControlName="traps" (change)="updateFilter()">Traps</mat-checkbox>
          <mat-checkbox class="example-margin" color="primary" formControlName="rituals" (change)="updateFilter()">Rituals</mat-checkbox>
        </div>
      </section>
      <section class="filter-card">
        <h4>Sorting by:</h4>
        <mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Sorting" >
          <mat-chip-option (selectionChange)="orderUpdate($event,'id')">id</mat-chip-option>
          <mat-chip-option (selectionChange)="orderUpdate($event,'name')">Name</mat-chip-option>
          <mat-chip-option (selectionChange)="orderUpdate($event,'atk')">ATK</mat-chip-option>
          <mat-chip-option (selectionChange)="orderUpdate($event,'def')">DEF</mat-chip-option>
          <mat-chip-option (selectionChange)="orderUpdate($event,'100')" selected>prov%</mat-chip-option>
        </mat-chip-listbox>
        <mat-checkbox class="example-margin" color="primary" [formControl]="ascending" (change)="updateFilter()">Ascending</mat-checkbox>
      </section>
    </div>
</div>
